extends layout

block content
  h1= title
  p Welcome to the clubhouse!
  if user
    p You are currently logged in as #[strong #{user.first_name}] #[strong #{user.last_name}]
    p Your membership status is: #[strong #{user.user_type}]
    form(method="POST" action="/club/log-out")
      button(type="submit") Log Out
  else 
    a(href="/club/log-in") Log In
